html{
  height: 100%;
}

body{
  height: 100%;
}

#single-continer{
  width: 100%;
  height: auto ;
  min-height: 100%;
  background-color: #d3d3d3;
}

#header-single{
  height: 70px;
  width: 100%;
  background-color: white;
}
#logo-single {
  height: 60px;
  width: 1024px;
  margin: 0 auto;

}
.top-name-single{
  font-style: 'Helvetica';
  font-weight: bold;
  font-size: 24px;
  padding: 14px 0 15px 60px;
  margin-bottom: 0;
}

#single-wap{
  width: 90%;
  height: 3000px;
  margin-left: 50px;
  margin-bottom: 90px;
}

.top-category h3{
  margin-top: 0;
  padding-top: 10px;
  padding-left: 150px;
}


#single-area{
  width: 65%;
  height: auto;
  background-color: white;
  padding-left: 20px;
  float: left;
  background-color: white;
}

#single-area h2{
  padding-top: 10px;
  text-align: center;
  font-size: 40px;
}

.single-category{
  width: 300px;
  margin-bottom: 30px;
}

.single-day{
  float: right;
  margin-top: -50px;
  margin-right: 50px;
}

.single-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

single p{
  padding-left: 3%;
  padding-right: 3%;
  word-wrap: break-word;
}

.ad-yoko{
  margin-bottom: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border: 1px solid #c0c0c0;
}

.ad-wid-img{
  padding-left: 10%;
}

.card {
  width: 250px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
  float: left;
  margin-left: 40px;
  margin-top: 20px;
  height: 338.56px;
}
.card-img {
  border-radius: 5px 5px 0 0;
  max-width: 100%;
  height: auto;
}
.card-content {
  padding: 10px;
}
.card-title {
  font-size: 20px;
  margin-bottom: 15px;
  text-align: center;
  color: #333;
}
.card-text {
  color: #777;
  font-size: 14px;
  line-height: 1.0;
}
.card-link {
  text-align: center;
  border-top: 1px solid #eee;
  padding: 15px;
}
.card-link a {
  text-decoration: none;
  color: #0bd;
  margin: 0 10px;
}
.card-link a:hover {
  color: #0090aa;
}

#single-right{
  width: 28%;
  height: none;
  float: right;
  padding-right: 20px;
}

#single-right h3{
  width: 336px;
  height: 40px;
  text-align: center;
  border: 1px solid #9B9B9B;
  margin-left: 40px;
  margin-bottom: -18px;
  color: white;
  padding-top: 15px;
}

#single-right ul{
  list-style: none;
}


#saide-ranking ul{
  width: 235px;
  height: auto;
  list-style:none;
  background-color: white;
  margin: 10px 47px 10px 49px;
}
#saide-ranking li{
  display: inline;
  padding: 0;
  margin: 0;
}
.saide-ranking-li p {
color: #4A4A4A;
}
.date{
  font-weight: 600;
  font-size: 12px;
}
.ranking-title{
  font-weight: bold;
  font-size: 13px;
  color: #4A4A4A;
}
.saide-ranking-img{
  width: 90px;
  height: 80px;
  padding-right: 8px;
  float: left;
}
.saide-ranking-bottom a{
  display: block;
  padding: 10px 10px 10px 10px;
  border: 1px solid #9B9B9B;
  border-bottom-right-radius: 12px;
}
.saide-ranking-li a{
  display: block;
  padding: 10px 10px 10px 10px;
  border-right: 1px solid #9B9B9B;
  border-left: 1px solid #9B9B9B;
  border-top: 1px solid #9B9B9B;
}

.right-ad{
  width: 65%;
  height: 100px;
  margin-left: 40px;
  margin-top: 10px;
}

#share{
  margin-top: 30px;
  margin-left: 30px;
}

#share ul{
	height:auto;
}
#share li{
	font-size:14px;
	float:left;
	text-align:center;
	width:84px;
	margin-right:1%;
	margin-bottom:8px;
	border-radius:3px;
	list-style:none;
}
#share li.share-twitter{
	background:#55acee;
	box-shadow:0 2px #2795e9;
}
#share li.share-twitter:hover{
	background:#83c3f3;
}
#share li.share-facebook{
	background:#3b5998;
	box-shadow:0 2px #2d4373;
}
#share li.share-facebook:hover{
	background:#4c70ba;
}
#share li.share-google{
	background:#dd4b39;
	box-shadow:0 2px #c23321;
}
#share li.share-google:hover{
	background:#e47365;
}
#share li.share-hatena{
	background:#2c6ebd;
	box-shadow:0 2px #225694;
}
#share li.share-hatena:hover{
	background:#4888d4;
}
#share li.share-pocket{
	background:#f13d53;
	box-shadow:0 2px #e6152f;
}
#share li.share-pocket:hover{
	background:#f26f7f;
}
#share li.share-line{
	background:#00C300;
	box-shadow:0 2px #009d00;
}
#share li.share-line:hover{
	background:#2bd92b;
}
#share a{
	display:block;
	height:27px;
	padding-top:6px;
	color:#ffffff;
	text-decoration:none;
}
#share a:hover{
	text-decoration:none;
	color:#ffffff;
}

.back-url{
  margin-top: 110px;
}

.back-url a{
  text-decoration: none;
  font-size: 25px;
}


.footer-single
{
  color:white;
  bottom: 0;
  left: 0;
  height:90px;
  width: 100%;
  text-align: center;
  background-color: black;
  margin: 0 auto;
  clear: both;

}

.footer-single h3{
  padding-top: 5px;
}
